<header
  class="w-screen h-[24%] pl-5 pr-6 pt-8 xs:pt-15 bg-[url(/assets/bg-mobile-light.jpg)] dark:bg-[url(/assets/bg-mobile-dark.jpg)] xs:bg-[url(/assets/bg-desktop-light.jpg)] dark:xs:bg-[url(/assets/bg-desktop-dark.jpg)]"
>
  <div
    class="flex justify-between items-center xs:mr-[15%] xs:ml-[15%] lg:mr-[30%] lg:ml-[30%]"
  >
    <h1 class="text-3xl font-medium text-white tracking-[0.5rem]">TODO</h1>
    <img
      (click)="toggleTheme()"
      class="h-6 w-6"
      [src]="`assets/${themeMode() === 'dark' ? 'icon-sun.svg' : 'icon-moon.svg'}`"
      alt="sun"
    />
  </div>

  <app-todoinput />
  <app-todolist />
  <app-filterbuttons />
</header>
