@if(tasks().length) {
<div
  class="bg-[hsl(0_0%_98%)] dark:bg-very-dark-desaturated-blue flex justify-center gap-4 text-very-dark-grayish-blue font-medium p-4 mt-5 rounded-[0.3rem] xs:ml-[15%] xs:mr-[15%]"
>
  <button
    [ngClass]="{ 'text-blue-500': activeFilter() === 'All' }"
    (click)="handleFilter('All')"
  >
    All
  </button>
  <button
    [ngClass]="{ 'text-blue-500': activeFilter() === 'Active' }"
    (click)="handleFilter('Active')"
  >
    Active
  </button>
  <button
    [ngClass]="{ 'text-blue-500': activeFilter() === 'Completed' }"
    (click)="handleFilter('Completed')"
  >
    Completed
  </button>
</div>
}
